body {
  background-image: url('background.png');
  font-size: 2vh;
  font-weight: bold;
  }




.box{


width: 47%;
height:auto;
vertical-align: middle;
height: 90vh;


}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px solid #555;
   
    
    
}

#linkS{
  color: yellow;
}
#linkS:hover{
  color: rgb(212, 212, 147);
}
.MainIMG{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    
    
}
#num{
  font-size: 3vh;
  font-weight: bold;
}

#left{
  float: left;
  
  
  }
  #right{
  float: right;
  
  
  }

#num{
    color: aliceblue;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50%;
    text-align: center;
}

#explL{
    color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25%;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
}


#explR{
    color: aliceblue;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 25%;
    text-align: center;
    font-family: Arial Narrow, sans-serif;
}












/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    right: 0;
    left: 0;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    height:auto;
    vertical-align: middle;
    height: 95vh;
    
    overflow: hidden;
    border-radius: 2%;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;
    

  }


#finished{
  float: right;
  padding-right: 10%;
  padding-left: 2%;
}



  
  /* The restart Button */
  .restart {
    color: #aaa;
    float: left;
    font-size: 3vh;
    font-weight: bold;
    padding: 1%;
  }
  
  .restart:hover{
    color: white;
    cursor: pointer;
  }
  .restart:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  .DoneTxt{
    padding-top: 6%;
    padding-right: 3%;
    float: right;
    color: whitesmoke
    
    

  }


  #textWrap{
    height: 50vh;
    float: right;
    flex-direction: column;
    display: flex;
    font-size: 3vh;
    font-weight: bold;

  }

 


  .Socials{
    padding-top: 6%;
    padding-right: 3%;
    float: right;
    color: rgb(0, 0, 255)
  }
  .Socials:hover{
    color: rgb(106, 106, 206);
    cursor: pointer;

  }
